log/*
temp/*
vendor/*
!vendor/others

!log/web.config
!temp/web.config
!log/.htaccess
!temp/.htaccess

.idea
.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
app/config/config.local.bak.neon
docker-compose.override.yml

nbproject/private/
