version: '2'
services:
  web:
    build: .
    environment:
      - TRACY_ENABLE=1
      - USERDB_SALT=saltvalue
      - USERDB_GOOGLE_MAPS_KEY=xxx
      - USERDB_DB_HOST=db
      - USERDB_DB_NAME=userdb
      - USERDB_DB_USERNAME=root
      - USERDB_DB_PASSWORD=rootpwd654
      # generate USERDB_ENCRYPTION_PASSPHRASE like this: $ vendor/bin/generate-defuse-key
      - USERDB_ENCRYPTION_PASSPHRASE=def000003f80fda926649189d52b4024641f8fa97d1be88638aa8f8c0bec00fdfd756e344f7547db517b17a5ea67085d9de8c88c806795bdec825f8df8b47e6dbb87ec03
    ports:
      - "80:80"
    volumes:
      - .:/opt/userdb
    links:
      - db
    network_mode: "bridge"
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    links:
      - db
    environment:
      PMA_HOST: db
    network_mode: "bridge"
  db:
    image: mariadb:10.1
    ports:
      - "3306:3306"
    command: --max_allowed_packet=32505856      # Set max_allowed_packet to 256M (or any other value)
    environment:
      MYSQL_ROOT_PASSWORD: rootpwd654
      MYSQL_DATABASE: userdb
    network_mode: "bridge"
#networks:
#  default:
#    external:
#      name: bridge
