services:
  web:
    build: .
    environment:
      - TRACY_ENABLE=1
      - USERDB_SALT=saltvalue
      - USERDB_GOOGLE_MAPS_KEY=xxx
      - USERDB_DB_HOST=db
      - USERDB_DB_NAME=userdb
      - USERDB_DB_USERNAME=root
      - USERDB_DB_PASSWORD=rootpwd654
      # generate USERDB_ENCRYPTION_PASSPHRASE like this: $ vendor/bin/generate-defuse-key
      - USERDB_ENCRYPTION_PASSPHRASE=def000003f80fda926649189d52b4024641f8fa97d1be88638aa8f8c0bec00fdfd756e344f7547db517b17a5ea67085d9de8c88c806795bdec825f8df8b47e6dbb87ec03
      - USERDB_IDS_USERNAME=api
      - USERDB_IDS_PASSWORD=xxx
      - USERDB_IDS_IPS_WHITELIST=10.107.99.188
      - INFLUX_URL=influxdb://wewimo:xxx@10.107.252.101:8086/wewimo
      - DIGISIGN_ACCESS_KEY=abcd
      - DIGISIGN_SECRET_KEY=0987654321
      - DIGISIGN_UCASTNICKA_SABLONA_ID=01938b74-b86e-7361-9ab9-17e7b2671225 # migrace + účastnická smlouva v5
    ports:
      - "10107:80"
    volumes:
      - .:/opt/userdb
    links:
      - db
    networks:
      - my-net
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "10108:80"
    links:
      - db
    environment:
      PMA_HOST: db
    networks:
      - my-net
  db:
    image: mariadb:10.1
    ports:
      - "10306:3306"
    command: --max_allowed_packet=32505856      # Set max_allowed_packet to 256M (or any other value)
    environment:
      MYSQL_ROOT_PASSWORD: rootpwd654
      MYSQL_DATABASE: userdb
    networks:
      - my-net
networks:
  my-net:
     name: my-net
