services:
  web:
    build: .
    environment:
      - TRACY_ENABLE=1
      - USERDB_SALT=saltvalue
      - USERDB_GOOGLE_MAPS_KEY=xxx
      - USERDB_DB_HOST=db
      - USERDB_DB_NAME=userdb
      - USERDB_DB_USERNAME=root
      - USERDB_DB_PASSWORD=rootpwd654
      # generate USERDB_ENCRYPTION_PASSPHRASE like this: $ vendor/bin/generate-defuse-key
      - USERDB_ENCRYPTION_PASSPHRASE=def000003f80fda926649189d52b4024641f8fa97d1be88638aa8f8c0bec00fdfd756e344f7547db517b17a5ea67085d9de8c88c806795bdec825f8df8b47e6dbb87ec03
      - USERDB_IDS_USERNAME=api
      - USERDB_IDS_PASSWORD=xxx
      - USERDB_IDS_IPS_WHITELIST=10.107.99.188
      - INFLUX_URL=influxdb://wewimo:xxx@10.107.252.101:8086/wewimo
      - PDF_GENERATOR_URL=http://pdf-generator/
      - FILE_STORAGE_PATH=/opt/userdb/smlouvy # sem se ukládají PDFka - smlouvy
    env_file:
      - path: .local.env
        required: false
    ports:
      - "10107:80"
    volumes:
      - .:/opt/userdb
      - .local.storage:/opt/userdb/smlouvy
    links:
      - db
    networks:
      - local-userdb-net
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "10108:80"
    links:
      - db
    environment:
      PMA_HOST: db
    networks:
      - local-userdb-net
  db:
    image: mariadb:10.1
    ports:
      - "10306:3306"
    command: --max_allowed_packet=32505856 # Set max_allowed_packet to 256M (or any other value)
    environment:
      MYSQL_ROOT_PASSWORD: rootpwd654
      MYSQL_DATABASE: userdb
    networks:
      - local-userdb-net
  pdf-generator:
    build: ./pdfGenerator
    networks:
      - local-userdb-net
    ports:
      - "10109:80"
    volumes:
      - ./pdfGenerator/www:/var/www/html
      - ./pdfGenerator/templates:/opt/templates
networks:
  local-userdb-net:
    name: local-userdb-net
