REPORT_EMAIL_FROM=automat@example.org
REPORT_EMAIL_TO=accountant@example.org
REPORT_EMAIL_CC=board@example.org

USERDB_DB_HOST=db
USERDB_DB_PORT=3306
USERDB_DB_USER=root
USERDB_DB_PASSWORD=rootpwd654
USERDB_DB_NAME=userdb
