#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	clenskyPrispevek: 290
	igw1IpCheckerUrl: http://10.107.0.1:8080/ip4info/
	igw2IpCheckerUrl: http://10.107.0.2:8080/ip4info/
	urlPrefix: '/userdb'
	sojkaPingerURL: 'http://sojka.hkfree.org/pinger/'
	outerScannerURL: 'https://shibbtest.uhk.cz/.hkfreePortScanner'
	salt: %env.USERDB_SALT%
	influxUrl: %env.INFLUX_URL%
	googleMapsApiKey: %env.USERDB_GOOGLE_MAPS_KEY%
	debug:
		fakeUser: false

php:
	date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
    dir: %appDir%/../db         # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: nette                 # nextras, nette, doctrine or dibi
    withDummyData: %debugMode%

services:
	authenticator: App\Model\Authenticator(%debug.fakeUser%)
	- App\RouterFactory
	router: @App\RouterFactory::createRouter(%urlPrefix%)
	uzivatel: App\Model\Uzivatel
	sloucenyUzivatel: App\Model\SloucenyUzivatel
	uzivatelskeKonto: App\Model\UzivatelskeKonto
	prichoziPlatba: App\Model\PrichoziPlatba
	odchoziPlatba: App\Model\OdchoziPlatba
	stavBankovnihoUctu: App\Model\StavBankovnihoUctu
	uzivatelListGrid: App\Model\UzivatelListGrid
	typClenstvi: App\Model\TypClenstvi
	typSpravceOblasti: App\Model\TypSpravceOblasti
	typPravniFormyUzivatele: App\Model\TypPravniFormyUzivatele
	zpusobPripojeni: App\Model\ZpusobPripojeni
	technologiePripojeni: App\Model\TechnologiePripojeni
	typCestnehoClenstvi: App\Model\TypCestnehoClenstvi
	ipAdresa: App\Model\IPAdresa(%igw1IpCheckerUrl%, %igw2IpCheckerUrl%)
	oblast: App\Model\Oblast
	ap: App\Model\AP
	cc: App\Model\cc
	subnet: App\Model\Subnet
	typZarizeni: App\Model\TypZarizeni
	spravceOblasti: App\Model\SpravceOblasti
	cestneClenstviUzivatele: App\Model\CestneClenstviUzivatele
	log: App\Model\Log
	pdfGenerator: App\Services\PdfGenerator
	mailService: App\Services\MailService
	povoleneSMTP: App\Model\PovoleneSMTP
	dnat: App\Model\DNat
	accountActivation: App\Model\AccountActivation
	logTableFactory: App\Components\LogTableFactory
	parameters: App\Model\Parameters(%clenskyPrispevek%)
	cryptoSluzba: App\Services\CryptoSluzba(%env.USERDB_ENCRYPTION_PASSPHRASE%)
	wewimo: App\Model\Wewimo
	apiKlic: App\Model\ApiKlic
	aplikaceToken: App\Model\AplikaceToken
	aplikaceLog: App\Model\AplikaceLog
	awegUser: App\Model\AwegUser
	smsSender: App\Services\SmsSender("%appDir%/../bin/smsbackend.py")
	idsConnector: App\Model\IdsConnector("https://10.107.252.102", %env.USERDB_IDS_USERNAME%, %env.USERDB_IDS_PASSWORD%, %env.USERDB_IDS_IPS_WHITELIST%)
	sojka: App\Model\Sojka(%sojkaPingerURL%)
	vnejsiScanner: App\Model\VnejsiScanner(%outerScannerURL%)
	status: App\Model\Status
	smlouva: App\Model\Smlouva
	podpis: App\Model\Podpis
	smlouvaStavSluzba: App\Services\SmlouvaStavSluzba
	SpravaPresenter:
		class: App\Presenters\SpravaPresenter
		setup:
			- setGoogleMapsApiKey(%env.USERDB_GOOGLE_MAPS_KEY%)
	settings: App\Settings(%debug.fakeUser%)

console:
	commands:
		- App\Console\UpdateLocationsCommand
		- App\Console\Wewimo2InfluxCommand

database:
	dsn: "mysql:host=%env.USERDB_DB_HOST%;dbname=%env.USERDB_DB_NAME%"
	user: %env.USERDB_DB_USERNAME%
	password: %env.USERDB_DB_PASSWORD%
	options:
		lazy: true

mail:
    smtp: true # zapne SmtpMailer místo SendmailMailer
    host: smtp.hkfree.org

http:
    proxy: 172.17.0.0/16
