# DEVELOPEMENT
parameters:
	https: false
	debug:
		tracy: true
		fakeUser:
			userID: 1
			userName: 'tester'
			passwordHash: 'xxx'    # optional; mandatory for SMS sending; use crypt(plainPassword, salt)
	igw1IpCheckerUrl: http://localhost/
	igw2IpCheckerUrl: http://localhost/

# PRODUCTION
# empty
