{block title}Notifikace{/block}
{block content}
<h3>Notifikace</h3>
<p>Upozornění na výpadky a údržbu sítě ve vaší oblasti přímo do prohlížeče nebo telefonu.</p>
{include '../../../templates/Push/nastaveni.latte'}
{/block}
