{block content}

<h3>Prefix {$prefix}</h3>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{link Subnet:overview id=>$prefix}">Přehled subnetů</a></li>
  <li role="presentation" class="active"><a href="#">Detaily jednotlivých IP</a></li>
</ul>

<br>

{$adresyTab}
