STV_API_URL=https://sledovanitv.cz/partner/api
STV_PARTNER=hkfree
STV_PASSWORD=************************

USERDB_DB_HOST=db
USERDB_DB_PORT=3306
USERDB_DB_USER=root
USERDB_DB_PASSWORD=rootpwd654
USERDB_DB_NAME=userdb
