{block content}
<h3>Mailing list</h3>
<a href="{link Sprava:nastroje}" class="btn btn-default btn-sm" role="button"><i class="glyphicon glyphicon-pencil icon-pencil"></i> Zpět na nástroje správy</a>

<br><br>
{if $canViewOrEdit}
{control mailinglistGrid}
{else}
    <p>Na tuto operaci nemáte oprávnění!</p>
{/if}