{block content}
<h3>Odeslat notifikaci</h3>
<p>U rozsahu „Oblast“ vyplňte oblast, u „AP“ vyplňte AP. Limit je 5 notifikací za hodinu.</p>
{control odeslatForm}

<h4>Historie</h4>
<table class="table table-condensed">
    <tr><th>Kdy</th><th>Kanál</th><th>Rozsah</th><th>Titulek</th><th>Odesílatel</th><th>Stav</th><th>Příjemců</th></tr>
    <tr n:foreach="$historie as $n">
        <td>{$n->vytvoreno|date:'j. n. Y H:i'}</td>
        <td>{$n->PushKanal->nazev}</td>
        <td>{$rozsahy[$n->rozsah]} {$n->Oblast?->jmeno}{$n->Ap?->jmeno}</td>
        <td>{$n->titulek}</td>
        <td>{if $n->odesilatel_ApiKlic_id}API klíč {$n->odesilatel_ApiKlic_id}{else}{$n->ref('Uzivatel', 'odesilatel_Uzivatel_id')?->nick}{/if}</td>
        <td>{$n->stav}</td>
        <td>{$n->pocet_prijemcu}</td>
    </tr>
</table>
{/block}
