{block content}

{if $canViewOrEdit}
{includeblock '../form.latte', form => uzivatelForm}
<script>
    $( document ).ready(function() {
        $(".ip_adresa.ip").keyup(ipClickCallback);
        $(".ip_adresa.ip").click(ipClickCallback);
        
        $(".ip_adresa.ip").each(ipStartCallback);
    });
    
    function ipClickCallback(e) {
        ipRefresh(e.target);
    }
    
    function ipStartCallback() {
        ipRefresh(this);
    }
    
    function ipRefresh(t) {
        var target = $(t);
        var ip = target.val();      
        var tbody = t.parentNode.parentNode.parentNode; 
        
        var detailsspan = $(tbody).find(".ip.details");
        var reqid = detailsspan.data("reqid") + 1;
        detailsspan.data("reqid", reqid);
        
        $.ajax({
            type: "GET",
            url: {plink Api:GetIpDetails , id => null},
            data: { ip: ip, reqid: reqid },
            success: ipAjaxCallback.bind(tbody),
            dataType: "json"
        });    
    }
    
    function ipAjaxCallback(d) { 
       var detailsspan = $(this).find(".ip.details");
       var errorsspan = $(this).find(".ip.errors");
       if(detailsspan.data("reqid") != d.reqid){
           // data jdouci moc pozde zahodime
           return(0);
       }
       
       if(d.error) {
           errorsspan.show();
           detailsspan.hide();
           
           errorsspan.text(d.error);
       } else {
           errorsspan.hide();
           detailsspan.show();
           
           detailsspan.find(".subnet").text(d.subnet);
           detailsspan.find(".gateway").text(d.gateway);
       }
    }
</script>

{else}
<p>Na tuto operaci nemáte oprávnění!</p>
{/if}

{/block}

