{block content}

<h3>Odeslání emailu <small>uživatelům AP {$ap->jmeno}</small></h3>

{if $canViewOrEdit}
{includeblock '../form.latte', form => emailallForm}
{else}
<p>Na tuto operaci nemáte oprávnění!</p>
{/if}

{/block}

