{block content}
<h3>Kompletní seznam členů</h3>

{if $canViewOrEdit}
  <a n:if="!$money" href="{link Uzivatel:listall id=>NULL, money=>1}" class="btn btn-default btn-sm" role="button">Informace z money</a>
{/if}

<a n:if="$money" href="{link Uzivatel:listall id=>NULL}" class="btn btn-default btn-sm" role="button">Bez informací z money</a>
<br><br>

{if $search}
  <p>Fulltextové vyhledávání (vždy pouze první nalezený záznam): {$search}</p>
{/if}

{control grid}

{/block}

