<html>
    <head>
        <style type="text/css">
            body {
              font-size: 9pt; 
            }
            h1 {
              font-size: 12pt; 
            }
            .info-sdruzeni {
              padding: 10px; 
              background: #ccc; 
              width: 100%; 
              border-bottom: 1px solid black; 
              border-top: 1px solid black;  
            }
            .info-sdruzeni td {
                width: 50%;
            }
            .udaje {
                width: 100%;
            }
            .udaje th.nadpis {
                text-align: left;
                font-size: 11pt;
                padding: 10px 0;
                border-bottom: 0px;
            }
            .udaje th {
                text-align: left;
                width: 20%;
                border-bottom: 1px solid #ccc;
            }
            .udaje td {
                width: 80%;
                border-bottom: 1px solid #ccc;
            }
            
            .ipcka {
                width: 100%;
            }
            .ipcka th.nadpis {
                text-align: left;
                font-size: 11pt;
                padding: 10px 0;
                border-bottom: 0px;
            }
            .ipcka th {
                text-align: left;
                width: 20%;
                border-bottom: 1px solid #ccc;
            }
            .ipcka td {
                text-align: left;
                width: 33%;
                border-bottom: 1px solid #ccc;
            }
        </style>
    </head>
    <body>
        <h1>Evidence člena hkfree.org z.s. v oblasti: {$oblast}</h1>
        <table class="info-sdruzeni">
            <tr>
                <td>
                    <strong>hkfree.org z.s.</strong><br>
                    Heyrovského 1178<br>
                    500 02  Hradec Králové<br>
                    IČO: 266 59 573<br>
                </td>
                <td>
                    Linka technické podpory<br>
                    <strong>Tel.: 608 10 10 70 (pracovní dny 9-19 hodin)</strong><br>
                    <strong>e-mail: <a href="mailto:podpora@hkfree.org">podpora@hkfree.org</a></strong><br>
                    web: <a href="http://www.hkfree.org">http://www.hkfree.org</a><br>
                </td>
            </tr>
        </table>
        <table class="udaje">
            <tr>
                <th class="nadpis" colspan=2>Údaje o členu zapsaného spolku</th>
            </tr>
            <tr>
                <th>Jméno a příjmení:</td>
                <td>{$jmeno} {$prijmeni}</td>
            </tr>
            <tr>
                <th>Právní forma:</td>
                {if $forma == "PO"}
                   <td>Právnická osoba</td> 
                {else}
                   <td>Fyzická osoba</td>  
                {/if}
            </tr>
            <tr>
                <th>Název firmy:</td>
                <td>{$firma}</td>
            </tr>
            <tr>
                <th>IČO:</td>
                <td>{$ico}</td>
            </tr>
            <tr>
                <th>Nickname:</td>
                <td>{$nickname}</td>
            </tr>
            <tr>
                <th>Identifikační číslo:</td>
                <td>{$uid}</td>
            </tr>
            <tr>
                <th>Heslo:</td>
                <td>{$heslo}</td>
            </tr>
            <tr>
                <th>E-mailová adresa:</td>
                <td>{$email}</td>
            </tr>
            <tr>
                <th>Mobilní telefon:</td>
                <td>{$telefon}</td>
            </tr>
            <tr>
                <th>Kontaktní adresa:</td>
                <td>{$ulice}, {if $psc!=0}{$psc}{/if} {$mesto}</td>
            </tr>
            <tr>
                <th>Typ členství:</td>
                <td>{$clenstvi}</td>
            </tr>
        </table>
        
        <h1>Parametry pro připojení k síti</h1>
        <table class="ipcka">
            <tr>
                <th>IP adresa</th>
                <th>Maska sítě</th>
                <th>Výchozí brána</th>
            </tr>
            {foreach $ips as $ip}
                <tr>
                    <td>{$ip['ip']}</td>
                    <td>{$ip['mask']}</td>
                    <td>{$ip['gateway']}</td>
                </tr>
            {/foreach}            
        </table>
        <table class="ipcka">
            <tr>
                <th>Primární DNS</th>
                <th>Sekundární DNS</th>
                <th>SMTP server (server odchozí pošty)</th>
            </tr>            
            <tr>
                <td>10.107.4.100</td>
                <td>10.107.4.129</td>
                <td>smtp.hkfree.org</td>
            </tr>          
        </table>
        
        <h1>Informace o placení členských příspěvků</h1>
        <table class="udaje">
            <tr>
                <th>Číslo účtu:</td>
                <td>2200229191 / 2010</td>
            </tr>
            <tr>
                <th>Variabilní symbol:</td>
                <td>{$uid}</td>
            </tr>
            <tr>
                <th>Specifický symbol:</td>
                <td>{$uid}</td>
            </tr>
            <tr>
                <th>Výše příspěvku:</td>
                <td>290,- Kč, platí se vždy dopředu</td>
            </tr>            
        </table>
        <ul>
            <li>Nezapomeňte na <strong>variabilní symbol ({$uid}), bez kterého nebude systém vědět komu připsat došlý příspěvek a vás automaticky odpojí 1. den v příštím měsíci.</strong></li>
            <li>Členství (připojení do sítě) je do konce prvního měsíce zdarma. Na příští měsíc (březen) prosím zaplaťte nejpozději 17.2.2015.</li>
            <li>Na každý další měsíc plaťte vždy 17. den předchozího měsíce.</li>
            <li>Můžete zaplatit i na více měsíců najednou; vždy 1. den v měsíci se Vám odečte 290 Kč.</li>
            <li>Kontrolu stavu vašeho konta můžete provést na adrese https://money.hkfree.org, přihlašovací jméno <strong>{$uid}</strong> a heslo <strong>{$heslo}</strong>.</li>
            <li>Svého správce můžete vždy kontaktovat emailem na adrese <strong>{$oblastemail}</strong></li>        
        </ul>
        <p><strong>Připsáním prvního členského příspěvku na výše uvedený účet člen zapsaného spolku vyjadřuje souhlas se Stanovami zapsaného spolku v platném znění, souhlas s Pravidly sítě a souhlas se zpracováním osobních údajů pro potřeby evidence člena zapsaného spolku. Oba výše uvedené dokumenty lze najít na adrese http://wiki.hkfree.org/Důležité_dokumenty.</strong></p>
        <p><strong>Tento registrační list spolu s první připsanou platbou je potvrzením, že se výše uvedená osoba stala členem hkfree.org z.s. a od té chvíle má právo účastnit se Valné hromady zapsaného spolku, podávat návrhy a hlasovat o návrzích v rámci Valné hromady.</strong></p>
        <p><strong>Tento registrační list může být uchováván v elektronické podobě, pro vstup na Valnou hromadu je potřeba v tištěné formě spolu s průkazem totožnosti, jeho potvrzení správcem oblasti není nutné.</strong></p>
        <p><strong>Ukončení členství v zapsaném spolku lze provést pouze písemnou formou a doručením na adresu zapsaného spolku.</strong></p>
        
    </body>
</html>