{block content}

<h1>Databáze členů z.s. HKFree.org</h1>

<h2>Jak funguje registrační proces ?</h2>
<img src="{$basePath}/images/diagram-reg.png">

<h2>Do kdy platí internet zdarma ?</h2>
<img src="{$basePath}/images/diagram-free.png">

{/block}
