{* This is the welcome page, you can delete it *}

{block content}

<h1>Databáze členů z.s. HKFree.org</h1>
<h3>Stará vs. nová?</h3>
<p>....</p>

<h3>Statistiky</h3>
<p>
<ul>
    <li>Noví členové</li>
    <ul>
	<li>dnes - 10</li>
	<li>včera - 20</li>
	<li>tento měsíc - 30</li>
	<li>minulý měsíc - 10</li>
    </ul>
    <li>Největší oblast: Kocourkov</li>
</ul>
</p>

{/block}
