<table class="apiklicform">
    <tr>
        <td class="apiklic">
            {$recordContainer['id']->control}
            {$recordContainer['klic']->control}
            {$recordContainer['plati_do']->control}
            {$recordContainer['poznamka']->control}
            {$recordContainer['remove_apiklic']->control}
        </td>
    </tr>
</table>
