{define spolekDruzstvoLabelUzivatel $u}
    <span n:if="$u->spolek" n:class="$u->TypClenstvi_id != 1 ? 'label label-spolek' : 'label label-neaktivni'">Spolek</span>
    <span n:if="$u->druzstvo" n:class="!$u->smazano ? 'label label-druzstvo' : 'label label-neaktivni'">Družstvo</span>
{/define}

{define spolekDruzstvoLabel $u}
    <span n:if="$u->spolek" class="label label-spolek">Spolek</span>
    <span n:if="$u->druzstvo" class="label label-druzstvo">Družstvo</span>
{/define}
