<table class="subnetform">
    <tr>
        <td class="subnet">
            {$recordContainer['id']->control}
            {$recordContainer['subnet']->control}
            {$recordContainer['popis']->control}
            {$recordContainer['remove_subnet_6']->control}
        </td>
    </tr>
</table>
