<table class="subnetform">
    <tr>
        <td class="subnet">
            {$recordContainer['id']->control}
            {$recordContainer['subnet']->control}
            {$recordContainer['gateway']->control}
            {$recordContainer['popis']->control}
            {$recordContainer['arp_proxy']->control}
            {$recordContainer['remove_subnet']->control}
        </td>
    </tr>
</table>