body {
	color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px;
}
.navbar-inverse .navbar-nav>li>a {
    font-size: 15px;
    margin: 5px 4px 2px 4px;
}
h4, .h4 {
    font-size: 16px;
}
.col-md-2 {
    width: 190px;
}

.col-md-offset-2 {
    margin-left: 180px;
}

@media (min-width: 1300px) {
    h4, .h4 {
        font-size: 18px;
    }
    body {
        font-size: 12px;
    }
    .col-md-2 {
        width: 210px;
    }

    .col-md-offset-2 {
        margin-left: 200px;
    }
}
@media (min-width: 1610px) {
    body {
        font-size: 13px;
    }
    .col-md-2 {
        width: 220px;
    }

    .col-md-offset-2 {
        margin-left: 210px;
    }
}
/*
h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
*/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav>li>a, .col-md-2 .nav-sidebar > li > a {
    padding: 10px 5px;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 0.2;
}

.nav-sidebar > li > ul > li > a {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 0.2;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */


.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

pre.tracy-dump {
    padding-left: 20%;
}

.form input[type="checkbox"] {
    margin-right: 4px;
}
.form tr td, .form tr th {
    padding: 2px 0px;
}
.form tr th {
    padding-right: 10px;
}
.ipform, .subnetform, .apiklicform {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    width: 570px;
    background-color: #f4f4f4;
}
.ipform tr td, .subnetform tr td, .apiklicform tr td {
    padding: 1px 3px;
}
.ipform tr:first-child td, .subnetform tr:first-child td, .apiklicform tr:first-child td {
    padding-top: 3px;
}
.ipform tr:last-child td, .subnetform tr:last-child td, .apiklicform tr:last-child td  {
    padding-bottom: 3px;
}
.ip>.popis {
    width: 358px;
}
.ip>.mac_adresa {
    width: 150px;
}
.ip>.ip_adresa,.ip>.hostname,.ip>.login,.ip>.heslo {
    width: 100px;
}
.ip>.TypZarizeni_id {
    width: 150px;
}
.ip>label {
    width: 93px;
}

.ip.details, .ip.editsubnet {
    font-size: smaller;
}

.ip-subnet-form-add {
    min-width: 570px;
    height: 50px;
    background-color: #EDFFED;
    color: black;
    border-color: silver;
    border-style: dashed;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ip-subnet-form-add:hover {
    background-color: #CAF7CA;
}

.legend td
{
    padding: 3px;
}

.red {
    color: #C22;
}
.cestne>td {
    background-color: #a0ffa0 !important;
}
.primarni>td
{
    background-color: #f0e0ed !important;
}
.zrusene>td
{
    background-color: #808080 !important;
    color: white !important;
}
.zrusene>td a
{
    color: white !important;
}

.planovane>td
{
    background-color: #03a7f3 !important;
}

.neaktivni>td:nth-child(10),
.neaktivni>td:nth-child(11),
.neaktivni>td:nth-child(12),
.neaktivni>td:nth-child(8),
.neaktivni>td:nth-child(9)
{
    background-color: #ff0000 !important;
}

/*.preplatek>td:nth-child(10),
.preplatek>td:nth-child(11),
.preplatek>td:nth-child(8),
.preplatek>td:nth-child(9),*/
.preplatek>td:nth-child(12)
{
    background-color: #ff00ff !important;
}

.invalidemail>td:nth-child(5)
{
    background-color: #ff0000 !important;
}

.subnet>.popis {
    width: 295px;
}
.subnet>.subnet_text {
    width: 125px;
}

.error{
    background-color: yellow;
    color: red;
    border: 3px solid black;

}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    /* line-height: 1.0 !important; */
    padding: 2px 4px !important;
}

.grido .filter.outer .items {
    width: 70% !important;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1.2;
}

.grido>.table>tbody>tr>td {
    line-height: 1.2 !important;
}

.conntype0 {
    background: url('../images/conntype0.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype1 {
    background: url('../images/conntype1.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype2 {
    background: url('../images/conntype2.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype3 {
    background: url('../images/conntype3.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype4 {
    background: url('../images/conntype4.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype5 {
    background: url('../images/conntype5.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype7 {
    background: url('../images/conntype7.png');
    width: 32px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype8 {
    background: url('../images/conntype8.png');
    width: 32px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype9 {
    background: url('../images/conntype9.png');
    width: 32px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}
.conntype6 {
    background: url('../images/conntype6.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}

.conntype10 {
    background: url('../images/conntype10.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-position: 0 32px;
}

.highlighted, .highlighted td {
    background-color: #ffa100 !important;
}

.highlighted-fadeout, .highlighted-fadeout td {
    background-color: rgb(255, 251, 122) !important;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.btn-in-table {
    line-height: 1;
    padding: 0px 5px;
    border-color: transparent;
    background: inherit;
    position: relative;
    top: -1px;
}

.btn-in-table:hover {
    border-color: #ccc;
}

.btn-edit-save {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* HACK: Schování tlačítka zobrazení seznamu oblastí na desktopu */
@media (min-width: 990px) {
    .navbar-collapse.collapse > .nav > li > #navareas {
        display: none;
    }
}

.navbar-brand {
  color: #FFFFFF !important;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #FFFFFF !important;
  background-color: transparent;
}

.table>tbody>tr>td.fullsubnet {
    background-color: #FFBA52;
    text-align: center;
    border-bottom: 1px solid black;
}

.table>tbody>tr.subnet-ip-network-row>td {
    border-top: 1px solid black;
}

.table>tbody>tr.subnet-ip-broadcast-row>td {
    border-bottom: 1px solid black;
}

.progress-inline {
    margin-bottom: 0px;
}

.progress-wewimo {
    background-color: #C00000;
    height: inherit;
}

.progress-wewimo .progress-bar {
    background-color: #00a000;
    line-height: inherit;
    text-align: left;
    padding-left: 1em;
}

.wewimo-sig {
    min-width: 4em;
}

.wewimo-ccq {
    width: 5em;
}

.wewimo-iface-header {
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.wewimo-device-header {
    font-size: 120%;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid-cell-castka {
	text-align: right;
}

tbody > tr.wewimo-table-header > th {
    color: white;
    background-color: #666666 !important;
}

.fade-out-old {
    color: #d0d0d0;
}

.manual-stripes-odd {
    background-color: #f9f9f9;
}

/* Grido's rules overrides */

.grido tbody tr td {
    padding: 2px 4px;
}

.apiklic>.klic {
    width: 358px;
}

.apiklic>.poznamka {
    width: 358px;
}

input[readonly] {
    background-color: #dddddd;
}

.spacing-left {
    padding-left: 30px;
}

.mikrotik-app-logo {
    border-radius: 5px;
    width: 16px;
    height: 16px;
}

.label {
    border-width: 1px;
    border-style: solid;
}

.label-druzstvo {
    border-color: #03758f;
    color: #03758f;
    background-color: #03758f20;
}

.label-spolek {
    border-color: #9f61a2;
    color: #9f61a2;
    background-color: #9f61a220;
}

.label-neaktivni {
    border-color: #383838;
    color: #383838;
    background-color: #38383820;
}

/** STITKY **/

.dropdown-menu > li > a.stitky-item {
    display: inline-block;
    padding: 4px 5px; /* Více prostoru uvnitř štítku */
    margin: 5px 5px; /* Větší mezery mezi štítky */
    border-radius: 12px; /* Zaoblené rohy */
    font-size: 10px; /* Velikost textu */
    font-weight: normal; /* Tučný text */
    text-align: center; /* Zarovnání textu na střed */
    transition: all 0.3s ease; /* Plynulý hover efekt */
    line-height: 1.5; /* Zvýšení mezery mezi řádky */
    text-decoration: none; /* Odstranění podtržení */
    white-space: nowrap; /* Zamezí zalamování textu */
}

/* Hover efekt */
.dropdown-menu > li > a.stitky-item:hover {
    filter: brightness(85%); /* Efekt ztmavení při hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Jemný stín pro hover */
}
.d-flex {
    display: flex;
    align-items: center; /* Vertikální zarovnání na střed */
}

.me-2 {
    margin-right: 10px; /* Mezera mezi dropdownem a štítky */
}

#user-labels .badge {
    margin-left: 5px; /* Mezery mezi jednotlivými štítky */
}


.badge {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding-right: 5px; /* Rezerva pro křížek */
}

.badge-remove {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    background-color: #dc3545;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    padding: 0 5px;
    display: none;
}

.badge:hover .badge-remove {
    display: inline-block;
}


/** STITKY **/
