/*
body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
*/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

pre.tracy-dump {
    padding-left: 20%;
}
.ipform, .subnetform {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    width: 560px;
}
.ipform tr td, .subnetform tr td {
    padding: 1px 3px;
}
.ipform tr:first-child td, .subnetform tr:first-child td {
    padding-top: 3px;
}
.ipform tr:last-child td, .subnetform tr:last-child td {
    padding-bottom: 3px;
}
.ip>.popis {
    width: 358px;
}
.ip>.mac_adresa {
    width: 150px;
}
.ip>.ip_adresa,.ip>.hostname,.ip>.login,.ip>.heslo {
    width: 100px;
}
.ip>.TypZarizeni_id {
    width: 150px;
}
.ip>label {
    width: 90px;
}
.red {
    color: #C22;
}
.cestne>td {
    background-color: #a0ffa0 !important;
}
.primarni>td
{
    background-color: #f0e0ed !important;
}
.zrusene>td
{
    background-color: #808080 !important;
}
.neaktivni>td:nth-child(10),
.neaktivni>td:nth-child(11),
.neaktivni>td:nth-child(12),
.neaktivni>td:nth-child(13),
.neaktivni>td:nth-child(14)
{
    background-color: #ff0000 !important;
}
.subnet>.popis {
    width: 295px;
}
.subnet>.subnet_text {
    width: 125px;
}

.error{
    background-color: yellow;
    color: red;
    border: 3px solid black;
    
}